.card{
  display: inline;
  border: none;
}

.film{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.film-element{
  margin-left: 1100;
  display: block;
}

.selectIcon{
  margin-left: 8px;
  margin-top: 8px;
  shape-margin: 0%;
}

.card-formulario{
  height: 50%;
  width: 50%;
}

#columna{
  display: flex;
  justify-content: center;
}
