
.film-card{
  max-width: 300px;
  background-color: rgb(245, 240, 240);
}

.card{
  display: inline;
  border:none;
}

.icon{
  margin-left: 8px;
  margin-top: 8px;
  shape-margin: 0%;
}

#imagenFilm{
  width: 100%;
  height: 350px;
}

.card-body{
  padding-left: 0;
  padding-top: 0;
}
